{% extends "main/index.html" %}

{% block extra-head %}
{{ block.super }}
{% endblock %}
{% block title %} MuviDB | Contact Us{% endblock %}
{% block main-container %}

	
    <div class="aux-content-widget-2">
	<h1>Contact Us</h1>
		<div id="contact" class="clearfix">
			<div id="c_form">
				<div class="clear"></div>
				<form name="theform" action="." method="post" id="theform">{% csrf_token %} 
					<br />

						<label id="id_name">Name:</label>
						<input class="textbox" type="text" name="name" value="" id="name" /><br />
						<label id="id_email">Email:</label>
						<input class="textbox" type="text" name="email" value="" id="Email" /><br />
					
					
						<label id="id_message">Message:</label>
						<textarea class="textbox" name="message" rows="8" cols="37"></textarea><br />

					
					<div id="submit">
						<input type="image" src="http://path/to/submitbutton.png" onclick="YY_checkform('theform','name','#q','0','Field \'name\' is empty.','Email','#S','2','Field \'Email\' appears not to be valid.','message','2','1','Field \'message\' is empty.');return document.MM_returnValue" />
					</div><!-- end submit -->
					<input class="hidden" type="hidden" name="topic" value="Home : Contact Form Submission" id="subject" />
				</form>

			</div><!-- end c_form -->
        </div><!-- end contact -->

    </div><!-- end contact_wrap -->
{% endblock %}
