{% extends "main/base.html" %}
{% load tracking_tags %}
{% block extra-head %}
<style>
.container{margin-top: 5px; width: 620px;}
.submain{margin-top: 15px; margin-left: 5px; border-right-width: 1px; margin-right: 5px;min-height: 200px;}
.x-small{font-size: x-small ;}

</style>
{% endblock %}
{% block content %}

<div class="sidebar left">
  {% block sidebar-left %}
  <div class="aux-content-widget-2">
    <h2> Top Box Office </h2>
    <table width='150px'>
      <tr>
	<td>Name</td>
	<td>Rating</td>
      <tr>
     {% for boxoffice_movie in boxoffice_movies %}
	
	  <tr>
	    <td><a class='x-small' href="{% url movie boxoffice_movie.imdbid.id %}">{{ boxoffice_movie.imdbid.title|truncatewords:5|title }}</a></td>
	    <td>{{ boxoffice_movie.imdbid.rating }}</td>
	  </tr>
     {% endfor %}
    </table>
  </div>
  <div class="aux-content-widget-2">
    <h2> Top Intheater </h2>
    <table width='150px'>
      <tr>
	<td>Name</td>
	<td>Rating</td>
      <tr>
     {% for intheater_movie in intheater_movies %}
	
	  <tr>
	    <td><a class='x-small' href="{% url movie intheater_movie.imdbid.id %}">{{ intheater_movie.imdbid.title|truncatewords:5|title }}</a></td>
	    <td>{{ intheater_movie.imdbid.rating }}</td>
	  </tr>
     {% endfor %}
    </table>
  </div>
  {% endblock %}
</div>

<div class="container left">
  <div class="breadcrumb"> </div>
  {% block main-container %}
  
  	<h2>WE ARE FREE TO SHARE ALL MOVIE INFORMATIONS </h2>
    <div class="clear"></div>
    
    <div class="clear"></div>
    <div id="msg_slideshow" class="">
		
		<!-- Begin: adBrite, Generated: 2012-10-06 14:14:31  -->
		<script type="text/javascript">
		var AdBrite_Title_Color = '0000FF';
		var AdBrite_Text_Color = '000000';
		var AdBrite_Background_Color = 'FFFFFF';
		var AdBrite_Border_Color = 'CCCCCC';
		var AdBrite_URL_Color = '008000';
		var AdBrite_Page_Url = '';
		try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
		</script>
		<span style="white-space:nowrap;"><script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=2222861&zs=3436385f3630&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'&purl='+encodeURIComponent(AdBrite_Page_Url)+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
		<a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=2222861&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-banner.gif" style="background-color:#CCCCCC;border:none;padding:0;margin:0;" alt="Your Ad Here" width="11" height="60" border="0" /></a></span>
		<!-- End: adBrite -->
    </div>
    <div class="clear"></div>
    <div class="aux-content-widget-2 submain">
     {% block sbmain-1%}
     <h2> Top Upcomming Movie </h2>
		<table width='150px'>
		  <tr>
		<td>Name</td>
		<td>Rating</td>
		  <tr>
		 {% for upcomming_movie in upcomming_movies %}
		
		  <tr>
			<td><a class='x-small' href="{% url movie upcomming_movie.imdbid.id %}">{{ upcomming_movie.imdbid.title|truncatewords:5|title }}</a></td>
			<td>{{ upcomming_movie.imdbid.rating }}</td>
		  </tr>
		 {% endfor %}
		</table>
     {% endblock %}
    </div>
    <div class="clear"></div>
    <div class="aux-content-widget-2 submain">
     {% block sbmain-2%}
     <h2> Top Opening Movie </h2>
		<table width='150px'>
		  <tr>
		<td>Name</td>
		<td>Rating</td>
		  <tr>
		 {% for opening_movie in opening_movies %}
		
		  <tr>
			<td><a class='x-small' href="{% url movie opening_movie.imdbid.id %}">{{ opening_movie.imdbid.title|truncatewords:5|title }}</a></td>
			<td>{{ opening_movie.imdbid.rating }}</td>
		  </tr>
		 {% endfor %}
		</table>
     {% endblock %}
    </div>
    <div class="clear"></div>
  {% endblock %}
</div>
<div class="sidebar right">
  {% block sidebar_right %}
  <div class="aux-content-widget-2">
		<h2> Connect with Muvidb </h2>
		<div style="overflow: hidden; width: 170px; height: 330px;">
		<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fmuvidbcom%2F301172446575832&amp;width=190&amp;height=355&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=122567377834742" scrolling="no" frameborder="0px" style="border:none; overflow:hidden; width:190px; height:355px; margin: -4px -10px;" allowTransparency="true"></iframe>
		</div>
		<br>
		<a href="https://twitter.com/muvidb" class="twitter-follow-button">Follow @muvidb</a>
		<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
	</div>
  
  {% endblock %}
	
</div>


{% endblock %}
