{% extends "main/index.html" %}
{% block description %}{{ person.about}} {% endblock %}
{% block extra-head %}

{{ block.super }}
<style>
	.container {margin-right: 20px; width: 800px; margin-top: 6px;padding-top: 10px;}
	.movie_info_content{width:774px;float: none;}
	.content-widget {width:200px; float: none;}
	.movie_photo{display:block; width: 200px; height: 230px;margin-left: 0px; margin-right: 20px; margin-bottom: 20px;float: left;padding: 10px;}
	.movie_basic_info {float:left;min-height: 250px; width: 540px;}
	.label-div {width: 130px; display:block; float: left;}
	.td-div{min-width: 100px; }
	.cast_photo{display:block; width: 100px; height: 100px;margin-left: 0px; margin-right: 5px; float: left;}
	.profile_image {width: 190px; height: 220px;}
	.about_note{margin-left: 50px; }
	.aux-content-widget-2{margin-right: 10px;height: auto !importent;}
</style>
{% endblock %}
{% block title %} MuviDB | About-{{person.name|title}}{% endblock %}

{% block content %} 
<div class="aux-content-widget-2 ">
	<h1>{{person.name|title}}</h1>
	<div class="clear"></div>
	<div class='movie_photo box '>
		<img src="{{MEDIA_URL}}{{person.image}}" class="profile_image">
	</div>
	<div class='movie_basic_info'>
		<label class='label-div'>E-mail</label> : {{person.email}} <br>
		<label class='label-div'>Phone</label> : {{person.phone}} <br>
		<label class='label-div'>Note</label> : {{person.note}} <br>
		<label class='label-div'>Member Since </label> : {{person.publish_date}}  <br>
		<label class='label-div'>About {{person.name|title}}</label> <br>
		<div class="about_note">
			{{person.about}}
		</div>
		
	</div>
	
	<div class="clear"></div>
	<h1>Contact Form</h1>
	<div id="contact" class="clearfix">
		<div id="c_form">
			<div class="clear"></div>
			<form name="theform" action="." method="post" id="theform">{% csrf_token %} 
				<table border=0>
					<tr>
						<td><label id="id_name">Name:</label></td>
						<td><input class="textbox" type="text" name="name" value="" id="name" /></td>
					</tr>
					<tr>
						<td><label id="id_email">Email:</label></td>
						<td><input class="textbox" type="text" name="email" value="" id="Email" /></td>
					</tr>
					<tr>
						<td><label id="id_message">Message:</label></td>
						<td><textarea class="textbox" name="message" rows="8" cols="37"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td><div id="submit">
					<input type="image" class="search_btn" value="Submit" onclick="YY_checkform('theform','name','#q','0','Field \'name\' is empty.','Email','#S','2','Field \'Email\' appears not to be valid.','message','2','1','Field \'message\' is empty.');return document.MM_returnValue" />
				</div><!-- end submit -->
				<input class="hidden" type="hidden" name="topic" value="Home : Contact Form Submission" id="subject" /></td>
					</tr>
				</table>
					
					
				
			</form>

		</div><!-- end c_form -->
    </div><!-- end contact -->
</div>
{% endblock %}
