{% extends "main/base.html" %}
{% load movie_tags %}

{% block title %} Visitors {% endblock %}
{% block description %}
This page shows visitors  in real time and displays their locations in Google Map
{% endblock %}
{% block keywords %}MuviDB,Google Map,graph Visitors information{% endblock %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
{% block extra-java %}
 google.maps.event.addDomListener(window, 'load', function() {
	var myLatlng = new google.maps.LatLng({% for address in address_obj %}{% if forloop.first %}{{ address.latitude }}, {{ address.longitude }}{% endif %}{% endfor %});
	
	var myOptions = {
			zoom: 13,
			center: myLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		
    var map = new google.maps.Map(document.getElementById('map'),myOptions);
	var locations = []; 
	{% for address in address_obj %}
		locations.push(['{{ address.name }}', {{ address.latitude }}, {{ address.longitude }}, {{ forloop.counter }}]);
	{% endfor %}
	setMarkers(map, locations);
  });
  
function setMarkers(map, locations) {
	var image = new google.maps.MarkerImage("{{ MEDIA_URL }}images/main/pin-small.png",new google.maps.Size(20, 42),new google.maps.Point(0,0),new google.maps.Point(22, 42));
	
	var bounds = new google.maps.LatLngBounds();

	for (var i = 0; i < locations.length; i++) {
		var location = locations[i];
		var myLatLng = new google.maps.LatLng(location[1], location[2]);
		var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			icon: image,
			title: location[0],
		});
		bounds.extend(myLatLng);
		map.fitBounds(bounds);
	}
}
{% endblock %}
{% block extra-head %}
	<style>
		.container {margin-right: 20px; width: 800px; margin-top: 6px;padding-top: 10px;}
		.movie_info_content{width:774px;float: none;}
		.content-widget {width:200px; float: none;}
		.movie_photo{display:block; width: 200px; height: 250px;margin-left: 0px; margin-right: 20px; margin-bottom: 20px;float: left;}
		.movie_basic_info {float:left;min-height: 250px; width: 540px;}
		.label-div {width: 130px; display:block; float: left;}
		.td-div{min-width: 100px; }
		.cast_photo{display:block; width: 100px; height: 100px;margin-left: 0px; margin-right: 5px; float: left;}
		#map{ height: 504px; }
	</style>
{% endblock %}

{% block content %} 

	{# MAIN BLOCK TO SHOW ALL INFORMARION #}
	<div class="sidebar left">
	  {% block sidebar-left %}
		<div class="aux-content-widget-2">
		
		</div>
	  {% endblock %}
	</div>
	<div class="container right">
		<div id="map"> Hello </div>
	
	</div>
{% endblock %}

